:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #ff6057;
  --primary-gradient-color: linear-gradient(
    to left,
    rgba(124, 28, 128, 0.66),
    var(--primary-color)
  );
  --stars-color: #cb48f9;
}

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
}
