:root {
  --primary-font: "Poppins", sans-serif;
  --primary-color: #ff6057;
  --secondary-color: #7c1c80a8;
  --light-text-color: #8f8f8f;
  --dark-text-color: #3b3a3a;
  --primary-gradient-color: linear-gradient(
    to left,
    var(--secondary-color),
    var(--primary-color)
  );
  --stars-color: #cb48f9;
}
