@media (max-width: 1200px) {
  .navbar-light .navbar-brand {
    font-size: 2.925rem;
  }

  .navbar-light .navbar-brand span {
    font-size: 2.475rem;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 0.7875;
  }

  .first-bg {
    top: -6rem;
    left: -15rem;
  }

  .left-bg {
    top: -515px;
    left: -1200px;
  }

  .right-bg {
    top: -515px;
    right: -1200px;
  }

  .dashboard.right {
    top: 3rem;
    right: -2rem;
  }

  .dashboard.left {
    top: -1rem;
    left: -10rem;
  }

  .landing-header header h1 {
    font-size: 1.35rem;
  }

  .landing-header header h2 {
    font-size: 3.2625rem;
  }

  .countfect {
    font-size: 2.5875rem;
  }

  .advantage {
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  .navbar-light .navbar-brand {
    font-size: 2.6rem;
  }

  .navbar-light .navbar-brand span {
    font-size: 2.2rem;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 0.7rem;
  }

  .first-bg {
    top: -15rem;
    left: -25rem;
  }

  .left-bg {
    left: -1300px;
  }

  .right-bg {
    right: -1300px;
  }

  .dashboard.left {
    top: 2rem;
    left: -7rem;
    right: -3rem;
  }

  header:not(.feedback-container header) {
    text-align: center;
  }

  .landing-header header h1 {
    font-size: 1.2rem;
  }

  .landing-header header h2 {
    font-size: 2.9rem;
  }

  header h3.h-line::before,
  header h5.h-line::after {
    left: calc(50% - 39.5px);
  }

  .icon {
    margin: auto;
  }

  .countfect {
    font-size: 2.3rem;
  }

  .advantage {
    font-size: 1rem;
  }

  footer p.services {
    padding-right: 3rem;
  }

  footer label {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .left-bg {
    top: -730px;
    left: -1400px;
  }

  .right-bg {
    top: -750px;
    right: -1450px;
  }

  .dashboard.right,
  .dashboard.left {
    position: static;
  }

  .landing-header header h2 {
    font-size: 2rem;
  }

  header h1 {
    font-size: 1.25rem;
  }

  header h2 {
    font-size: 1.75rem;
  }

  header h3:not(footer h3) {
    font-size: 1.75rem;
  }

  header h4 {
    font-size: 1.3rem;
  }

  header h5.h-line {
    font-size: 0.75rem;
  }

  footer .subscribe-btn {
    padding: 0 2rem;
  }
}
