@media (max-width: 1200px) {
  .navbar-light .navbar-brand {
    font-size: 2.925rem;
  }

  .navbar-light .navbar-brand span {
    font-size: 2.475rem;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 0.7875;
  }

  .landing-header header h1 {
    font-size: 1.35rem;
  }

  .landing-header header h2 {
    font-size: 3.2625rem;
  }

  .dashboard.right {
    right: -2rem;
    bottom: 2rem;
  }

  .countfect {
    font-size: 2.5875rem;
  }

  .advantage {
    font-size: 1.125rem;
  }
}

@media (max-width: 992px) {
  .navbar-light .navbar-brand {
    font-size: 2.6rem;
  }

  .navbar-light .navbar-brand span {
    font-size: 2.2rem;
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 0.7;
  }

  header:not(.feedback-container header) {
    text-align: center;
  }

  .landing-header header h1 {
    font-size: 1.2rem;
  }

  .landing-header header h2 {
    font-size: 2.9rem;
  }

  header h3.h-line::before,
  header h5.h-line::after {
    left: calc(50% - 39.5px);
  }

  .icon {
    margin: auto;
  }

  .dashboard.right,
  .dashboard.left {
    position: static;
  }

  .left-wave {
    left: -43rem;
  }

  .right-wave {
    top: -12rem;
    right: -45rem;
  }

  .countfect {
    font-size: 2.3rem;
  }

  .advantage {
    font-size: 1rem;
  }

  footer label {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .landing-header header h2 {
    font-size: 2rem;
  }

  header h1 {
    font-size: 1.25rem;
  }

  header h2 {
    font-size: 1.75rem;
  }

  header h3:not(footer h3) {
    font-size: 1.75rem;
  }

  header h4 {
    font-size: 1.3rem;
  }

  header h5.h-line {
    font-size: 0.75rem;
  }

  footer .subscribe-btn {
    padding: 0 2rem;
  }
}
